<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title> {{ username }}_home </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<!-- Navigation menu -->
    <ul class="navi">
        <li class="item dropdown">
            <a class="dropbtn"> {{ username }}</a>
            <div class="dropdown-content">
                <a href="#ManageUsers" id="manage_users" >Manage users</a>
                <a href="#ManageDevices" id="manage_devices">Manage devices</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="item"><a href="#home">Home</a></li>
        <li class="item"><a href="#news">News</a></li>
    </ul>

<!-- List devices -->
    <div class="devices">
        <ul class="devicelist">
            {% for device in %}
            <li class="deviceitem"></li>
        </ul>

    </div>

<!-- Popup menu manage users -- admin privilege: 1 -->
    <div class="Popup_manage_users_block">
        <div class="tab">
            <button class="tab_links" id="tab_adduser" onclick="showTabContent(event, 'add_users')"> Add user</button>
            <button class="tab_links" id="tab_removeuser" onclick="showTabContent(event, 'rm_users')"> Remove user</button>
        </div>
            <div class="tab_content" id="add_users">
                <form name="adduser" action="{{ url_for('.add_user') }}" method="post" id="form_addusers">
                    <input class="input_adduser" placeholder="Username" type="text" name="adduser_username" value="">
                    <input class="input_adduser" placeholder="Password" type="password" name="adduser_password" value="">
                    <input class="input_adduser" placeholder="Confirm Password" type="password" name="adduser_confirm_password" value="">
                    <select id="sel_adduser" form="form_addusers" name="adduser_privilege">
                        <option name="adduser_privilege_1" value="1">Admin</option>
                        <option name="adduser_privilege_3" value="3">Guest</option>
                        <option name="adduser_privilege_0" value="0">Developer</option>
                    </select>
                    <button class="btn_adduser" id="btn_adduser_submit" type="submit">Submit</button>
                    <button class="btn_adduser" id="btn_adduser_cancel" type="button">Cancel</button>
                </form>
            </div>
            <div class="tab_content" id="rm_users">
                <form name="rmuser" action="{{ url_for('.rm_user')}}" method="post" id="form_rmusers">
                    <input class="input_rmuser" placeholder="Username" type="text" name="rmuser_username" value="">
                    <table>
                        <tr>
                            <th>No.</th>
                            <th>Username</th>
                            <th>Privilege</th>
                            <th><input type="checkbox">Select</th>
                        </tr>
                    </table>
                    <button class="btn_rmuser" id="btn_rmuser_submit" type="submit">Submit</button>
                    <button class="btn_rmuser" id="btn_rmuser_cancel" type="button">Cancel</button>
                </form>
            </div>
    </div>

<!-- Popup menu manage devices -- admin privilege: 1 -->
    <div class="Popup_manage_devices_block">
        <div class="tab">
            <button class="tab_links" id="tab_adddevice" onclick="showTabContent(event, 'add_devices')"> Add device</button>
            <button class="tab_links" id="tab_rmdevice" onclick="showTabContent(event, 'rm_devices')"> Remove device</button>
        </div>
            <div class="tab_content" id="add_devices">
                <form name="adddevice" action="{{ url_for('.add_device') }}" method="post" id="form_adddevices">
                    <input class="input_adddevice" placeholder="IP" type="text" name="adddevice_ip" value="">
                    <input class="input_adddevice" placeholder="Username" type="text" name="adddevice_username" value="">
                    <input class="input_adddevice" placeholder="Password" type="password" name="adddevice_password" value="">
                    <select id="sel_adddevice" form="form_adddevices" name="adduser_privilege">
                        <option name="adddevice_type_1" value="1">Switch</option>
                        <option name="adddevice_type_2" value="2">Router</option>
                        <option name="adddevice_type_3" value="3">Server</option>
                    </select>
                    <button class="btn_adddevice" id="btn_adddevice_submit" type="submit">Submit</button>
                    <button class="btn_adddevice" id="btn_adddevice_cancel" type="button">Cancel</button>
                </form>
            </div>
            <div class="tab_content" id="rm_devices">
                <form name="rmuser" action="{{ url_for('.rm_device')}}" method="post" id="form_rmdevices">
                    <input class="input_rmdevice" placeholder="IP" type="text" name="rmdevice_IP" value="">
                    <button class="btn_rmdevice" id="btn_rmdevice_submit" type="submit">Submit</button>
                    <button class="btn_rmdevice" id="btn_rmdevice_cancel" type="button">Cancel</button>
                </form>
            </div>
    </div>

<!-- Jinja toast -->
    {% for msg in get_flashed_messages()%}
        <div class="toast" id="warning">
            <div id="warning_head">!Warning</div>
            <div id="warning_msg">{{ warning_msg }}</div>
        </div>

        <div class="toast" id="succ">
            <div id="succ_head">!Success</div>
            <div id="succ_msg">{{ succ_msg }}</div>
        </div>

        <div class="toast" id="err">
            <div id="err_head">!Error</div>
            <div id="err_msg">{{ err_message }}</div>
        </div>
    {% endfor %}

<script>
    //Switch tab Manage users
    function showTabContent(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab_content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab_links");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

//Jquery-----------------------------------------------------
    //Toggle popup menu manage user
    $(document).ready(function(){
        $("#manage_users").click(function(){
            $(".Popup_manage_users_block").toggle();
            $(".Popup_manage_devices_block").hide();
        });
    });

    //Toggle popup menu manage devices
    $(document).ready(function(){
        $("#manage_devices").click(function(){
            $(".Popup_manage_devices_block").toggle();
            $(".Popup_manage_users_block").hide();
        });
    });

    //Func cancel button #add_users
    $(document).ready(function(){
        $("#btn_adduser_cancel").click(function(){
            $(".Popup_manage_users_block").hide();
        });
    });

    //Func cancel button #rm_users
    $(document).ready(function(){
        $("#btn_rmuser_cancel").click(function(){
            $(".Popup_manage_users_block").hide();
        });
    });

    //Func cancel button #add_devices
    $(document).ready(function(){
        $("#btn_adddevice_cancel").click(function(){
            $(".Popup_manage_devices_block").hide();
        });
    });

    //Func cancel button #rm_devices
    $(document).ready(function(){
        $("#btn_rmdevice_cancel").click(function(){
            $(".Popup_manage_devices_block").hide();
        });
    });

    //send data POST from form_addusers
    $(document).ready(function(){
        var $form = $('#form_addusers');
        $form.submit(function(){
        $.post($(this).attr('action'), $(this).serialize(), function(response){
            console.log(response);
        });
            return false;
        });
    });

    //send data POST from form_rmusers
     $(document).ready(function(){
        var $form = $('#form_rmusers');
        $form.submit(function(){
        $.post($(this).attr('action'), $(this).serialize(), function(response){
            console.log(response);
        });
            return false;
        });
    });
</script>
</body>
</html>